


  <div class="my-border">
    <p><%= @question %></p>
    <p><em>-You</em></p>
  </div>

  <div class="my-border mt-5 coach-answer">
    <p><strong><%= @answer %></strong></p>
    <p><em>-Your Coach</em></p>
  </div>

  <div class="mt-5">
    <%= link_to "Ask a new question", ask_path %>
  </div>
